$default-spacing-unit: 20px;

.hidden { display: none !important; }

.push--bottom { margin-bottom: $default-spacing-unit; }
.push--top { margin-top: $default-spacing-unit; }
.push--left { margin-left: $default-spacing-unit; }
.push--right { margin-right: $default-spacing-unit; }

.center--horizontal { margin: 0 auto; }
.center--text { text-align: center; }

.center--vertical { position: relative; top: 50%; transform: translateY(-50%); }